   <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="com.ospicon.pushy" version="1.0.0">
        <name>Pushy</name>
        <description>Pushy Plugin</description>
        <license>Apache 2.0</license>
        <keywords>pushyme</keywords>
        <js-module src="www/pushyme.js" name="push">
            <clobbers target="window.pushyMeTokenID" />
        </js-module>
        <platform name="android">
            <config-file target="config.xml" parent="/*">
                  <feature name="CDVPlushyMePlugin">
                    <param name="android-package" value="com.ospicon.pushy.CDVPlushyMePlugin"/>
                  </feature>
            </config-file>
            <source-file src="src/android/CDVPlushyMePlugin.java" target-dir="src/com/ospicon/pushy"/>
            <source-file src="src/android/PushReceiver.java" target-dir="src/com/ospicon/testnotify"/>
        </platform>
    </plugin>